@font-face {
  font-family: 'SpaceGrotesk';
  font-weight: 300;
  src: url('../fonts/SpaceGrotesk/SpaceGrotesk-Light.ttf');
}

@font-face {
  font-family: 'SpaceGrotesk';
  font-weight: 400;
  src: url('../fonts/SpaceGrotesk/SpaceGrotesk-Regular.ttf');
}

@font-face {
  font-family: 'SpaceGrotesk';
  font-weight: 500;
  src: url('../fonts/SpaceGrotesk/SpaceGrotesk-Medium.ttf');
}

@font-face {
  font-family: 'SpaceGrotesk';
  font-weight: 600;
  src: url('../fonts/SpaceGrotesk/SpaceGrotesk-SemiBold.ttf');
}

@font-face {
  font-family: 'SpaceGrotesk';
  font-weight: 700;
  src: url('../fonts/SpaceGrotesk/SpaceGrotesk-Bold.ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: url('../fonts/Inter/Inter-Regular.ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  src: url('../fonts/Inter/Inter-Medium.ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  src: url('../fonts/Inter/Inter-SemiBold.ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  src: url('../fonts/Inter/Inter-Bold.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-space-grotesk);
}

*:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

:root {
  --weight-bold: 700;
  --weight-light: 300;
  --weight-medium: 500;
  --weight-regular: 400;
  --weight-semi-bold: 600;

  --font-space-inter: 'Inter', sans-serif;
  --font-space-grotesk: 'SpaceGrotesk', sans-serif;

  --text: #545b57;
  --white: #ffffff;
  --black: #222222;
  --primary: #112423;
  --primary-light: #1b302f;
  --secondary: #ffedad;
  --graidient: linear-gradient(30deg, var(--primary-light), var(--primary));
}

p{
  color: var(--text);
}

p,
.nav-link {
  margin-bottom: 0;
  font-family: var(--font-space-inter);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  font-weight: var(--weight-bold);
}

section {
  padding-block: 60px;
}

.btn {
  border: none;
  padding: 8px 20px;
  align-items: center;
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
  text-transform: capitalize;
  font-weight: 600 !important;
  transition: 0.2s ease-in-out;
  font-family: var(--font-space-inter);
}

.btn.btn-lg {
  padding: 14px 24px;
  font-size: clamp(14px, 2vw, 16px);
}

.btn-primary {
  color: var(--white) !important;
  background: var(--primary);
}

.btn-secondary:hover {
  color: var(--black) !important;
  background: var(--secondary);
}

.btn-secondary {
  color: var(--black) !important;
  background: var(--secondary);
}

.btn-secondary:hover {
  color: var(--white) !important;
  background: var(--primary);
}

.offcanvas {
  border: none;
}

.offcanvas-body {
  display: flex;
  flex-direction: column;
}

/* typography */
.text-secondary {
  color: var(--secondary) !important;
}

.text-primary {
  color: var(--primary) !important;
}

/* header */

header {
  padding-block: 20px;
  background: var(--primary);
}

.logo {
  height: auto;
  max-width: 130px;
  display: flex;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.menu_btn {
  padding: 0;
  width: 20px;
  height: 16px;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 99999;
}

.menu_btn span {
  border-radius: 5px;
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: var(--white);
  transition: all 0.4s ease;
}

.menu_btn span:nth-child(1) {
  top: 0px;
}

.menu_btn span:nth-child(2) {
  top: 50%;
  left: 0;
  max-width: 60%;
  transform: translateY(-50%);
}

.menu_btn span:nth-child(3) {
  top: 100%;
  transform: translateY(-100%);
}

.menu_btn.open span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.menu_btn.open span:nth-child(2) {
  opacity: 0;
}

.menu_btn.open span:nth-child(3) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

.menu_offcanvas {
  grid-gap: 30px;
  padding-top: 10px;
  padding-left: 0px;
  transition: 0.5s ease;
  width: 100% !important;
  background: var(--graidient);
}

.nav-link {
  font-weight: 400;
  padding-top: 0px;
  color: var(--white);
  display: inline-block;
  transform: translateY(72px);
  line-height: 1.3;
  transition: 0.4s ease 0s;
  font-size: clamp(30px, 4vw, 48px);
}

.nav-link:has(i) {
  font-size: unset;
}

.nav-link i {
  font-size: clamp(25px, 4vw, 30px);
}

.menu_offcanvas.show .nav-link {
  transition-delay: 0.2s;
  transform: translateY(0px);
}

.nav-link.active {
  color: var(--secondary) !important;
}

.nav-link:hover {
  opacity: 1 !important;
  color: var(--secondary);
  transition-delay: 0s !important;
}

.navbar-nav:has(.nav-link:hover) .nav-link {
  opacity: 0.3;
  transition-delay: 0s !important;
}

.menu_offcanvas .nav-item {
  overflow: hidden;
}

/* hero */
.hero {
  min-height: 100dvh;
  padding-top: 160px;
  padding-bottom: 60px;
  background: var(--graidient);
}

.trusted_headline {
  font-family: var(--font-space-inter);
  font-size: clamp(14px, 2vw, 16px);
  font-weight: var(--weight-regular);
}

.trusted_companies {
  grid-gap: 40px;
}

.hero_imgs {
  height: 100%;
  display: flex;
  grid-gap: 30px;
  flex-direction: column;
}

.hero_imgs img {
  height: auto;
  flex: 0 0 auto;
  max-width: 100%;
  object-fit: contain;
}

.hero_imgs img:nth-child(1) {
  width: 100%;
  max-width: 350px;
  align-self: flex-end;
}

.hero_imgs img:nth-child(2) {
  width: 100%;
  max-width: 450px;
  align-self: center;
}

.hero_imgs img:nth-child(3) {
  width: 100%;
  max-width: 150px;
  align-self: flex-start;
}

/* counter */
.counter_count {
  font-size: clamp(30px, 3vw, 36px);
}

/* features */
.feature_heading{
  font-weight: var(--weight-bold);
}

.feature-item h4 {
  margin-bottom: 10px;
  font-size: clamp(35px,3vw,48px);
  font-weight: var(--weight-bold);
}

.feature-item .feature-title {
  margin-bottom: 16px;
  text-transform: capitalize;
  font-weight: var(--weight-semi-bold);
  color: var(--black);
}

/*==================================
=            Responsive            =
==================================*/

@media (min-width: 768px) {
  .logo {
    max-width: 160px;
  }

  .menu_offcanvas {
    padding-left: 40px;
  }
}

/*=====  End of Responsive  ======*/